﻿@charset "utf-8";

/*目次：全てのページで使用。

  1.スタイル初期化(変更不可）
　2.基本スタイル(最初に設定してください）
　　└リンク関連 a visite hover
	└フロート解除
	└IE以外にフォントサイズを上書き(重要）
  3.コンテナー container（フッターを含む）
  4.ヘッドエリア headArea
    └ロゴエリア
  5.ボトムエリア
  6.ブロック設定
  7.フォント情報

---------------------------------------------------------*/
/*1.スタイル初期化(変更不可）
---------------------------------------------------------*/
*{
margin: 0;
padding: 0;
}

/*-------------------------------------------------------*/
/*2.基本設定(最初に設定してください）
---------------------------------------------------------*/
body{
	margin: 0px;
	padding: 0px;
	color: #525252;
	line-height: 1.5;
	font-size:75%;
	letter-spacing: 0.05em;
	text-align:center;
	background-image:url(background.jpg);
	background-repeat:repeat-x;
	font-family: "verdana","ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro",Osaka,/*"メイリオ",Meiryo,*/"ＭＳ Ｐゴシック",sans-serif;
}


/* IE以外にフォントサイズを上書き */
html>body{
	font-size: 83%;
	text-align:center;
}


/* リンク関連 */
a {
	COLOR: #6699CC;
	text-decoration: none;}

a:visited {
	color: #006699;
	text-decoration: none;}

a:hover {
	color: #FF00CC;
	text-decoration: none;
}

/* フロート解除 */
.clr {
	clear: both;
	visibility: hidden;
}

/* フロート解除 */
.clrparts {
	clear: both;
	float: left;
}


/*-------------------------------------------------------*/
/*3.コンテナー（フッターを含む）
---------------------------------------------------------*/

#container{
	width:800px;
	padding: 0px;
	text-align: left;
	background-color:#FFFFFF;
	border:1px none #999999;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
}

/*-------------------------------------------------------*/
/*4.ヘッドエリア headArea
---------------------------------------------------------*/
#headArea{
	width: 800px;
	height: 151px;
	margin: 0px;
	padding: 0px;
}

#headtop {
	height: 32px;
	margin: 0px;
	padding: 0px;
}


#headtop h1,#headtop h1 a{
	padding-left: 5px;
	height: 32px;
	display: block;
	font-size: 8px;
	color: #FFFFFF;
	background-image: url(headtop.jpg);
}

/* ロゴエリア */
#logoArea{
	width:800px;
	height: 119px;
	margin:0px;
	padding:0px;
	float:left;
}

#logoArea ul {
	width:800px;
	height: 66px;
}

#logoArea li{
	display:inline;
	height: 66px;
	float: left;
}

#logoArea li a {
	display: block;
	height: 66px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	text-decoration:none;
} 

/*	オフ	*/
#logoArea01 a{width:350px;background:url("top.jpg") 0 0 no-repeat;}
#logoArea02 a{width:190px;background:url("top.jpg") -350px 0 no-repeat;}
#logoArea03 a{width:125px;background:url("top.jpg") -540px 0 no-repeat;}
#logoArea04 a{width:135px;background:url("top.jpg") -665px 0 no-repeat;}


/*	オン	*/
#logoArea01 a:hover,#logoArea01 a.on{background-position: 0 0;}
#logoArea02 a:hover,#logoArea02 a.on{background-position: -350px 0;}
#logoArea03 a:hover,#logoArea03 a.on{background-position: -540px 0;}
#logoArea04 a:hover,#logoArea04 a.on{background-position: -665px 0;}


/*トップイメージ */
#topimage{
	display: table;
	height: 215px;
	width: 800px;
	margin: 0px;
	padding: 0px;}

/*ページトップへ移動 */
.pagetop {
	width: 50px;
	margin-bottom: 5px;
	margin-top: 20px;
	background-image:url(../pic/top_on.gif);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	background-position: right;
	margin-right: 10px;
	margin-left: 740px;
	clear: both;
}

/*-------------------------------------------------------*/
/*5.ボトムエリア
---------------------------------------------------------*/
#footer {
	padding: 0px;
	width: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 50px;
	clear: both;
	text-align: center;
}

/*ボトム */
#bottom{
	width:800px;
	height:15px;
	border-top-color: #999999;
	text-align:right;
	font-size: 80%;
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0;
}

#bottom a:link,#bottom a:visited{
	color:#315628;
	margin-bottom: 20px;
}

#bottom a:active,#bottom a:hover{
color:#CAB13C;
}

/* コピーライト */
#copyright {
	width: 100%;
	text-align: center;
	font-size: 75%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 0;
	height: 15px;
	float: left;
	background-color: #6f2b30;
}

#copyright a:link,#copyright a:visited{
color:#FFFFFF;
}

#copyright a:active,#copyright a:hover{
color:#b2b2b2;
}

#catch{
	font-size: 70%;
	float: left;
	clear: both;
	width: 100%;
	margin-top: 20px;
}

.name{
	text-align: right;
	width: 530px;
}


/*-------------------------------------------------------*/
/*6.ブロック設定
---------------------------------------------------------*/
.block{
	width: 550px;
}
.block p{
	margin-bottom: 10px;
	margin-top: 0px;
	}
	
.block img{
	padding-right: 10px;
	padding-bottom: 10px;
	float: left;
}


/* 写真回り込み解除 */
.block-img{
}
	.block-img p{
	margin-bottom: 20px;
	margin-left: 10px;
	}

/* 中央ぞろえ */
.blockCenter{
	width: 560px;
}
	.blockCenter p{
	margin-bottom: 20px;
	text-align: center;
	clear: both;
	}



/*-------------------------------------------------------*/
/*7.フォント情報
---------------------------------------------------------*/
.block h2{
	color: #666666;
	background-image: url(h2.gif);
	background-repeat: no-repeat;
	width: 560px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-decoration: none;
	padding-left: 15px;
	background-position: 0px 0px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	height: 25px;
	font-style: normal;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: middle;
	line-height: 1.5em;
	font-size: 12px;
}

.block h3{
	color: #666666;
	background-image: url(h3.jpg);
	background-repeat: no-repeat;
	width: 560px;
	padding-top: 3px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-decoration: none;
	padding-left: 15px;
	background-position: 0px 0px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	height: 25px;
	font-style: normal;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	vertical-align: middle;
	line-height: 1.5em;
	font-size: 12px;

	margin-left: 0px;
}


.lead{
	width: 560px;}
	p.lead{
	margin-bottom: 24px;
	font-size: 14px;
	font-weight: bold;
	color: #000099;
	}



h4.block{
	color: #666666;
	font-size: 12px;
	font-weight: bolder;
	background-image: url(h4.jpg);
	background-repeat: no-repeat;
	height: 25px;
	width: 560px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	text-decoration: none;
	padding-left: 15px;
	float: left;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0px;
	margin-left: 0;
}


/* テキスト揃え */
.txtCenter {
	text-align: center;}
.txtLeft {
	text-align: left;}
.txtRight {
	text-align: right;}
img.imgRight {
	float: right;}
img.imgLeft {
	float: left;}
.imageCenter{
	margin-right: auto;
	margin-left: auto;
}

/* フォントサイズ */
.txt10 {
	font-size: 10px;
	line-height: 1.4;
	}
.txt1014n {
	font-size: 10px;
	line-height: 14px;
	font-weight: normal;
	}
.txt1014 {
	font-size: 10px;
	line-height: 14px;
	}
.txt1016 {
	font-size: 10px;
	line-height: 16px;
	}
.txt14 {
	font-size: 14px;
	line-height: 140%;
	}

/* テキストカラー */
.txtImportant {
	color: #CC0000;
	}
.txtBlue {
	color: #000099;
	}
