@charset "utf-8";
/* CSS Document */

/*コンテンツ
  1.タイトル関連
  2.リスト list
	└基本リスト
	└リストスモールドット
	└リスト注釈
  3. numbers
	└基本番号リスト
  4.囲み
  5.定義と説明 dl dt dd
  6.パーツ
	└ライン
	└※印（注意書き）
	└※印小（注意書き）
	└サイドナビ住所
  7.フォーム


---------------------------------------------------------*/
/*1.タイトル関連
---------------------------------------------------------*/

/*-------------------------------------------------------*/
/*2.リスト list
---------------------------------------------------------*/

/* 基本リスト 2007-08-08 */
.lists{
	list-style-position: outside;
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.7em;
	font-size: 1em;
	width: 100%;
	}
	.lists ul{
		list-style-image: url(../pic/dot.gif);
		padding-left: 30px;}



/* リストスモールドット 2007-08-08 */
.listSmalldot{
	list-style-position: outside;
	margin-left: 0px;
	clear: both;
	float: left;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.7em;
	font-size: 1em;
	width: 100%;
	}
	.listSmalldot ul{
		list-style-image: url(../pic/dotsmall.gif);
		padding-left: 30px;}

/* リスト注釈2007-08-08 */
.listsAttention{
	margin-left: 0px;
	clear: both;
	float: left;
	margin-top: 5px;
	margin-bottom: 20px;
	line-height: 1.7em;
	font-size: 0.8em;
	width: 100%;
	}
	.listsAttention ul{
		padding-left: 15px;
		list-style-type: none;}


/* リストタグ会社専用 2007-08-08 */
.listsCompany{
	margin-left: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height: 1.7em;
	font-size: 1em;
	width: 100%;
	}
	.listsCompany ul{
		padding-left: 15px;
		list-style-type: none;}

/*-------------------------------------------------------*/
/*3.番号リスト list
---------------------------------------------------------*/
/* 基本番号リスト 2007-08-08 */
.numbers{
	list-style-position: outside;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: 1.8em;
	font-size: 0.9em;
	padding-left: 25px;
	}
	ol.numbers{
	list-style-type: decimal;}

/*-------------------------------------------------------*/
/*4.囲み frame
---------------------------------------------------------*/
/* イメージ専用囲み */
div.frameImage {
	background-image: url(../pic/frame_for_img.gif);
	background-repeat: repeat;
	background-position: 0 0;
	padding: 10px;
	border: 1px solid #999999;
	margin: 10px auto 0;
	clear: left;
	}


/* 引用・コラム */
.kakomi{
	background-image: url(../pic/bg_corner.gif);
	background-repeat: no-repeat;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 0px;
	width: 500px;
	line-height: 2em;
}

.kakomi p{
	width: 470px;
	margin: 0px;
	padding-top: 35px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 40px;
}

/*-------------------------------------------------------*/
/*5. 定義と説明  2007-08-08
---------------------------------------------------------*/
.definition{
	float: left;
}
	.definition dt{
		width: 540px;
		padding: 5px;
		left: 0px;
		font-weight: bold;
		}
		.definition dd{
		line-height: 1.5em;
		margin: 0px 0px 10px 10px;
		padding: 0px 5px 5px;
		left: 175px;
		color: #333333;}

.definitionInterview{
	float: left;
}
	.definitionInterview dt{
	width: 540px;
	padding: 5px;
	left: 0px;
	font-weight: bold;
	font-size: 1em;
	color: #CC0000;
		}
		.definitionInterview dd{
		line-height: 1.5em;
		margin: 0px 0px 10px 10px;
		padding: 0px 5px 5px;
		left: 175px;
		color: #333333;}


.topics{}
	.topics dt{
	width: 200px;
	padding: 5px;
	left: 0px;
	font-size: 0.8em;
	background-image: url(../pic/topics.gif);
	background-repeat: no-repeat;
	margin: 0px;
	line-height: 0.8em;
	color: #009900;
	}
	.topics dd{
	line-height: 1.5em;
	margin: 0px 0px 10px 10px;
	padding: 0px 5px 5px;
	left: 175px;
	color: #333333;
	font-size: 0.8em;
}

/*-------------------------------------------------------*/
/*6. パーツ 2007-08-08
---------------------------------------------------------*/
/* ライン */
hr.clr {
	background: #000;}

/* ※印（注意書き） */
.attention{
	padding-left: 30px;
	background: url(../pic/ico_attention.gif) 15px 0.5em no-repeat;}

/* ※印小（注意書き） */
.attention-s{
	padding-left: 15px;
	margin-left: 0;
	background: url(../pic/ico_attention-s.gif) left 0.5em no-repeat;
	font-size: 82%;
}
/* 写真 */
.photo{
	border: 1px solid #999999;
	margin: 10px;
	padding: 10px;}

/* サイドナビ住所 */
.address{
	background-image: url(address.gif);
	text-indent: -9999px;
	height: 94px;
	width: 199px;
	background-repeat: no-repeat;
	margin-top: 100px;
}

/* サイドナビ住所 */
.addressFront{
	background-image: url(addressfront.gif);
	text-indent: -9999px;
	height: 94px;
	width: 199px;
	background-repeat: no-repeat;
	margin-top: 100px;
}

/* セミナー申込み */
.seminarAsk{
	background-image: url(../ask_us/apply.jpg);
	height: 58px;
	width: 250px;
	margin-right: auto;
	margin-left: 150px;
	display: block;
	text-indent: -9999px;
}

a:hover.seminarAsk  {
	background-image: url(../ask_us/apply_on.jpg);
}

/*-------------------------------------------------------*/
/*7.フォーム
---------------------------------------------------------*/
/* -------- 日本語フォーム -------- */

.form-jpn /* フォーム内を日本語入力に指定（IEのみ対応） */
{
	ime-mode: active;
	padding: 1px 2px;
}

.textbox-jpn /* テキストボックス内を日本語入力に指定（IEのみ対応） */
{
	ime-mode: active;
	padding: 1px 2px;
}


/* -------- 英語フォーム -------- */

.form-eng /* フォーム内を英語入力に指定（IEのみ対応） */
{
	ime-mode: inactive;
	padding: 1px 2px;
}

.mayoTop a{
	text-indent: -9999px;
	display: none;
}
