@charset "utf-8";
/* CSS Document */

/*
  1.グローバルナビゲーション（全ページ共通）
  
  
/*--------------------------------------------------------*/
/*0.グローバルナビ global_nav
---------------------------------------------------------*/
#logo, #logo a{
	background-image: url(logo.jpg);
	height: 119px;
	width: 228px;
	background-repeat: no-repeat;
	background-color: #CCCCCC;
	display: block;
	text-indent: -9999px;
	float: left;
	margin: 0px;
	padding: 0px;
}
 
 
/*--------------------------------------------------------*/
/*1.グローバルナビ global_nav
---------------------------------------------------------*/
#globalNavi{
	width:572px;
	height: 119px;
	margin:0px;
	padding:0px;
	float: right;
}

#globalNavi ul {
	width:572px;
	height: 119px;
}

#globalNavi li{
	display:inline;
	height: 59px;
}

#globalNavi li a {
	display: block;
	height: 59px;
	margin:0;
	padding:0;
	text-indent:-9999px;
	text-decoration:none;
	float: left;
} 

/*	オフ	*/
#menu01 a{width:180px;background:url("globalNavi.jpg") 0 0 no-repeat;}
#menu02 a{width:170px;background:url("globalNavi.jpg") -180px 0 no-repeat;}
#menu03 a{width:222px;background:url("globalNavi.jpg") -350px 0 no-repeat;}
#menu04 a{width:180px;background:url("globalNavi.jpg") 0px   -60px no-repeat;}
#menu05 a{width:170px;background:url("globalNavi.jpg") -180px -60px no-repeat;}
#menu06 a{width:222px;background:url("globalNavi.jpg") -350px -60px no-repeat;}


/*	オン	*/
#menu01 a:hover,#menu01 a.on{background-position: 0 -120px;}
#menu02 a:hover,#menu02 a.on{background-position: -180px -120px;}
#menu03 a:hover,#menu03 a.on{background-position: -350px -120px;}
#menu04 a:hover,#menu04 a.on{background-position: 00px -180px;}
#menu05 a:hover,#menu05 a.on{background-position: -180px -180px;}
#menu06 a:hover,#menu06 a.on{background-position: -350px -180px;}
