@charset "utf-8";
/* CSS Document */

/*目次：トップページ以外全てのページで使用。

	1.コンテンツエリア content
	2.メインエリア mainArea
	3.パンくずリスト
	4.メイン
	
---------------------------------------------------------*/
/*1.コンテンツエリア content
---------------------------------------------------------*/
#content {
	width: 800px;
	height: 100%;
	margin:0;
	padding: 0px;
	overflow: hidden;
	text-align: left;
	float: left;
	clear: both;
	position: relative;
}

#content:after {
    content: "";
    display: block;
    clear: both;
    height: 1px;
    overflow: hidden;
}

/*\*/
* html #content {
    height: 1em;
    overflow: visible;
}
/**/

/*-------------------------------------------------------*/
/*2.メインエリア mainArea
---------------------------------------------------------*/
#mainArea{
	width:560px;
	height:auto;
	padding:0px;
	float: right;
	margin-top: 130px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
}

/*-------------------------------------------------------*/
/*3パンくずリスト
---------------------------------------------------------*/
#breadcrumb{
	width: 550px;
	height: auto;
	color: #666666;
	font-size: 10px;
	text-align: left;
	text-decoration: none;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#breadcrumb img{
	margin: 0 5px;
}

#breadcrumb a:link,a:visited{
	color: #666666;
	text-decoration: none;
}

#breadcrumb a:hover,a:active{
	color: #3A00AE;
	text-decoration: underline;
}

.breadcrumb{
	color: #FF6600;
	margin-right: 5px;
	margin-left: 5px;
}

/*-------------------------------------------------------*/
/*4.メイン
---------------------------------------------------------*/
#main{
	width: 560px;
	height: auto;
	margin:0px auto 0px 0px;
	padding:10px 0px 0px;
	text-align: left;
}
