@charset "utf-8";
/* CSS Document */

/*ڎ
  1.TChir sideNavi
@@TChgbv
	TCh{g
---------------------------------------------------------*/

/*1.TChir sideNavi
---------------------------------------------------------*/
#sideNavi {
	width: 220px;
	height: auto;
	padding: 0px;
	float:left;
	margin-top: 130px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
}

#sideNavi p {
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


/* TChgbv  
--------------------*/
#sideTop{
	width: 200px;
	height: auto;
	padding:0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
}

ul#sideTop {
}

#sideTop li {
	width: 196px;
	margin: 0;
	list-style-type: none;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 10px;
}

#sideTop li a {
	margin: 0 auto;
	padding: 0 0 0 8px;
	text-decoration: none;
	color: #333333;
	display: block;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #CEC8B8;
}

#sideTop a:hover {
	color: #FF00FF;
	border-left-color: #FF99FF;
}

#sideTop p{
	margin: 10px 0 0 0;
}

#sideTop li.arrow, #sideTop li a.arrow {
	color: #333333;
	background-image: url(../pic/arrow.gif);
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-position: outside;
	font-weight: normal;
	font-size: 12px;
	width: 175px;
	margin-left: 5px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 10px;
}

/* TCh{g  
--------------------*/
#sideBottom {
	width: 200px;
	height: 200px;
	margin: 0px 10px;
	padding: 30px 0px 100px;
	text-align:left;
	font-size:10px;
}

#sideBottom a {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color:#000000;
}

#sideBottom a:hover {
	color: #4573B3;
	border-left-color: #4573B3;
}

#sideBottom p{
	margin:2px 0px 10px 0px;
	padding:0px;
	font-size:10px;
    line-height:120%;
	color:#000000;
}
