/* CSS Document */

#content {
	background-image: url(company_bg.jpg);
	background-repeat: no-repeat;

}

.company{
	background-image: url(menu_company.gif);
	text-indent: -9999px;
	display: block;
	height: 35px;
	width: 199px;
}

#main .span{
	list-style-type: square;
}
